<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <style>
        .image-parent {
            max-width: 100px;
        }
    </style>
    <title>Document</title>
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>Simim</strong>
            </a>
        </div>
    </div>
</header>

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-lg-5">
                    <ul class="list-group">
                        {{range .Images}}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="/similar/{{.Guid}}" class="btn btn-sm btn-outline-secondary">
                                    {{.Name}}
                                </a>
                                <div class="image-parent">
                                    <img src="/media/{{.Path}}" class="img-fluid" alt="quixote">
                                </div>
                            </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>